<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 패키지 범위에 적용할 로거 지정 -->
    <logger name="com.blacksw.labmybatis" level="debug">
        <appender-ref ref="stdout"/>
    </logger>

<!--    <root level="error">-->
<!--        <appender-ref ref="stdout"/>-->
<!--    </root>-->

</configuration>