<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="localCacheScope" value="SESSION"/> <!-- SESSION | STATEMENT -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <typeHandler handler="com.blacksw.labmybatis.typeHandler.config.UserStatusTypeHandler" javaType="com.blacksw.labmybatis.typeHandler.config.UserStatus"/>
    </typeHandlers>
    
    <plugins>
        <plugin interceptor="com.blacksw.labmybatis.common.interceptor.SqlExecutionTimeInterceptor"/>
    </plugins>
</configuration>